<div class="container">
    <div class="row">
        <!-- Home Page text -->
        <div class="col-lg-6">
            <div class="fs-4">Hello,</div>
            <div class="fs-1">
                <span>I'm&#160;</span>
                <span class="nameProp">Pogula Nandini</span>
            </div>
            <div class="fs-1">Frontend Developer</div>
            <div class="text-secondary">Motivated computer science student proficient in Front-End Development, seeking opportunity to leverage technical skills and contribute to innovative and challenging projects. 
            </div>
        </div>
        <!-- Home page Image -->
        <div class="col-lg-6">
            <img src="home.jpg" alt="load" class="w-75">
        </div>
    </div>
</div>
<div>
    <app-resume></app-resume>
    <app-projects></app-projects>
    <app-contactme></app-contactme>
  </div>
