.text
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blueviolet;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1vw;
}
/* .card{
    margin: 5vw 0vw;
    width: 27vw;
} */
.card-body{
    background-color: pink;
}
.card-title{
    color: blueviolet;
    text-align: center;
    font-weight: bold;
}
.img{
    width: 25vw;
    height: 15vw;
}