<div class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">
    <div class="container">
      <!-- icon on navbar -->
      <a class="navbar-brand" href="#">
        <span><img src="logo.png" alt="load" class="logo"></span>
      </a>
      <!-- navbar button forsmall screens -->
      <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- icon link -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Home page link -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']" [routerLinkActive]="['active']">Home</a>
          </li>
          <!-- resume link -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['resume']" [routerLinkActive]="['active']">About</a>
          </li>
          <!-- projects-->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['projects']" [routerLinkActive]="['active']">Projects</a>
          </li>
        </ul>
        <!-- contact us -->
        <form class="d-flex">
          <button class="btn btn-light" type="submit">
            <a [routerLink]="['contactme']" [routerLinkActive]="['active']" class="text-dark">Contact me</a>
          </button>
        </form>
      </div>
    </div>
  </div>
 
  <div>
    <router-outlet></router-outlet>
  </div>
