/* text style */
.text
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blueviolet;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1vw;
}